.hk-table-wrapper {
    margin: 2rem;
}
table {
    color: #fff;
}
.column-header-Company {
    background-color: #636060;
}

.column-header-ESCScore {
    background-color: #15076f;
}

.column-header-Environmental {
    background-color: #076f39;
}

.column-header-Social {
    background-color: #0d6b87;
}

.column-header-Governance {
    background-color: #d0c310;
    color: #000;
}

.column-header-Reporting {
    background-color: #636060;
}

tbody{
    color: #000;
}

.column-cell, .column-row {
    background-color: aliceblue;
    text-align: center;
    height: 2rem;
}
.green-tick {
    color: #076f39;
}
.red-dot {
    font-size: 7px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 1600px 840px;
  font-family: system-ui;
  background-color: #bfbf85;
}

.hk-header {
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  font-weight: 800;
  background-color: #5b7430;
}

.hk-header span {
  margin: auto;
  display: table;
  font-size: 2rem;
  color: #fff;
}

.hk-label {
  margin-top: 2rem;
}

.hk-label>span {
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: system-ui;
}

.hk-upload-btn,
.hk-submit-btn {
  color: #fff;
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: system-ui;
  border-radius: 10px;
}

.hk-entityNameLabel,
.hk-entityNameInput,
.hk-upload-file {
  font-size: 1.5rem;
  font-family: system-ui;
  margin-right: 1rem;
  font-weight: bold;
}

.hk-section {
  margin: 2rem;

}

.hk-input-wrapper {
  display: block;
  min-height: 15rem;
}

.hk-dialog-modal {
  display: block;
  border-radius: 20px;
  min-width: 65rem;

}

.hk-button-group {
  display: inline-flex;
}

.hk-submit-btn {
  display: block;
  margin: 0 2rem 4rem 0;
}

.hk-text-area {
  width: 100%;
  font-size: 1.5rem;
  height: 6rem;
  margin: 2rem 0;
  display: block;
}



/**  theme chagnes **/

.hk-upload-btn,
.hk-submit-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #877f29;
  border: none;
  line-height: 0;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.hk-upload-btn:hover,
.hk-submit-btn:hover {
  background-color: #665f13
}

.hk-upload-btn:active,
.hk-submit-btn:active {
  background-color: #665f13;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (min-width: 80rem) {
  body {
    background-size: 130rem 60rem;
  }
}
